/* EXAMPLES
  .myText {
    color: token(font);
  }

  .card {
    background: token(bg-dark);
  }

  .btn {
    background: color(primary, 500);
  }
*/
.cart {
  position: relative;
  padding: 2rem var(--container-x-padding);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.cart.empty {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart.empty p.link {
  align-self: flex-start;
}
.cart.empty .cart__header {
  width: 100%;
  margin-bottom: 0;
}
.cart .cart__header {
  position: relative;
  align-self: start;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--clr-gray-300);
}
.cart .cart__header > div:not([class]) {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.cart .cart__header > div:not([class]) h1 {
  font-size: 2rem;
  white-space: nowrap;
}
.cart .cart__header > div:not([class]) .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  min-width: 1.5rem;
  background-color: var(--clr-purple-500);
  color: var(--clr-white);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 2rem;
  padding: 0 0.625rem;
  white-space: nowrap;
}
.cart .cart__header .search-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 14rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  background-color: var(--clr-gray-100);
  padding: 0.375rem 1rem;
  cursor: text;
}
.cart .cart__header .search-box svg {
  height: 1.25rem;
  width: 1.25rem;
  color: var(--clr-gray-900);
  flex-shrink: 0;
}
.cart .cart__header .search-box input {
  all: unset;
  position: relative;
  width: 100%;
  font-size: 1rem;
}
.cart .cart__header .search-box:focus-within {
  border: 2px solid var(--clr-blue-500);
}
.cart .cart__header .search-box:focus-within input {
  border: none !important;
}
.cart .cart__header .cart-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: var(--clr-gray-100);
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.cart .cart__header .cart-actions svg {
  height: 1rem;
  width: 1rem;
  color: var(--clr-gray-900);
  flex-shrink: 0;
}
.cart .cart__header .cart-actions:hover {
  background-color: var(--clr-gray-200);
}
.cart .cart__header .cart__menu-actions {
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 10rem;
  max-height: 25vh;
  overflow-y: auto;
  background-color: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
  z-index: 110;
  pointer-events: all !important;
}
.cart .cart__header .cart__menu-actions .action-list {
  padding: 0.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-bottom: 1px solid var(--clr-gray-300);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item {
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  color: var(--clr-gray-900);
  cursor: pointer;
  height: 2rem;
  border-radius: 12px;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.show-sm-only {
  display: none;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item a,
.cart .cart__header .cart__menu-actions .action-list .action-list-item div {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item a svg,
.cart .cart__header .cart__menu-actions .action-list .action-list-item div svg {
  height: 1rem;
  width: 1rem;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item:hover {
  background-color: var(--clr-gray-100);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.red:hover a,
.cart .cart__header .cart__menu-actions .action-list .action-list-item.red:hover div {
  color: var(--clr-red-500);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.red:hover {
  background-color: var(--clr-red-50);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.blue:hover a,
.cart .cart__header .cart__menu-actions .action-list .action-list-item.blue:hover div {
  color: var(--clr-blue-500);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.blue:hover {
  background-color: var(--clr-blue-50);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.icon-end a,
.cart .cart__header .cart__menu-actions .action-list .action-list-item.icon-end div {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.btn {
  background-color: var(--clr-gray-900);
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.btn a {
  color: var(--clr-gray-100);
  font-size: 0.9375rem;
  justify-content: center;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.btn a svg {
  height: 1rem;
  width: 1rem;
}
.cart .cart__header .cart__menu-actions .action-list .action-list-item.btn:hover {
  background-color: var(--clr-gray-800);
}
.cart .cart__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart .cart__content .notes .note {
  padding-left: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid transparent;
}
.cart .cart__content .notes .note.info {
  border-color: var(--clr-blue-500);
}
.cart .cart__content .notes .note.success {
  border-color: var(--clr-green-500);
}
.cart .cart__content .notes .note.warning {
  border-color: var(--clr-yellow-500);
}
.cart .cart__content .notes .note strong {
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.25rem;
}
.cart .cart__content .notes .note p {
  font-size: 0.875rem;
  color: var(--clr-gray-700);
}
.cart .cart__content .package__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.cart .cart__content .package__list .package__wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}
.cart .cart__content .package__list .package__wrapper .package {
  flex: 1 1 66%;
  min-width: 0;
  border: 1px solid var(--clr-gray-300);
  border-radius: 1rem;
  height: -moz-fit-content;
  height: fit-content;
}
.cart .cart__content .package__list .package__wrapper .package .package__header {
  position: relative;
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .cart__content .package__list .package__wrapper .package .package__header a {
  max-height: 2rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info .image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info h4 {
  font-size: 1rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info div.rating {
  padding-left: 0.75rem;
  display: inline-block;
  white-space: nowrap !important;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info div.rating a {
  position: relative;
  display: flex !important;
  align-items: center;
  gap: 0.25rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info div.rating a:hover {
  text-decoration: underline;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info div.rating a span {
  height: 1rem;
  display: inline-block;
  font-size: 0.875rem;
  color: var(--clr-gray-900);
  font-weight: 700;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info div.rating a span svg {
  top: 50%;
  height: 1rem;
  width: 1rem;
  color: var(--clr-yellow-500);
  fill: currentColor;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .seller-info div.rating a span.muted {
  color: var(--clr-gray-700);
  font-weight: 500;
}
.cart .cart__content .package__list .package__wrapper .package .package__header button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--clr-gray-100);
  cursor: pointer;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.cart .cart__content .package__list .package__wrapper .package .package__header button:hover {
  background-color: var(--clr-gray-200);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions {
  position: absolute;
  top: 4.25rem;
  right: 1.5rem;
  width: 10rem;
  max-height: 25vh;
  overflow-y: auto;
  background-color: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(25, 25, 25, 0.1);
  z-index: 110;
  pointer-events: all !important;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list {
  padding: 0.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  border-bottom: 1px solid var(--clr-gray-300);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item {
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  color: var(--clr-gray-900);
  cursor: pointer;
  height: 2rem;
  border-radius: 12px;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.show-sm-only {
  display: none;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item a,
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item div {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item a svg,
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item div svg {
  height: 1rem;
  width: 1rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item:hover {
  background-color: var(--clr-gray-100);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.red:hover a,
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.red:hover div {
  color: var(--clr-red-500);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.red:hover {
  background-color: var(--clr-red-50);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.blue:hover a,
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.blue:hover div {
  color: var(--clr-blue-500);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.blue:hover {
  background-color: var(--clr-blue-50);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.icon-end a,
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.icon-end div {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.btn {
  background-color: var(--clr-gray-900);
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.btn a {
  color: var(--clr-gray-100);
  font-size: 0.9375rem;
  justify-content: center;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.btn a svg {
  height: 1rem;
  width: 1rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__header .package__menu-actions .action-list .action-list-item.btn:hover {
  background-color: var(--clr-gray-800);
}
.cart .cart__content .package__list .package__wrapper .package .package__content {
  padding: 1rem 1.5rem;
  padding-bottom: 1.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product {
  display: flex;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product:not(:first-child) {
  border-top: 1px solid var(--clr-gray-300);
  padding-top: 1.5rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__image {
  flex: 1 !important;
  flex-shrink: 0;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__image a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__image a .image {
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 5/4;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__image a .image img {
  display: block !important;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper {
  padding-left: 1rem;
  flex: 3 !important;
  min-width: 0;
  word-break: break-word !important;
  word-wrap: break-word !important;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  min-width: 0;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details {
  flex-grow: 1;
  flex-basis: 66.667%;
  max-width: 66.667%;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details h5 {
  font-size: 0.9375rem;
  color: var(--clr-gray-900);
  margin-bottom: 0.25rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details h5 a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details h5 a:hover {
  text-decoration: underline;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details .product__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details .product__badges .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.125rem;
  background-color: var(--clr-gray-200);
  color: var(--clr-gray-900);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 9999px;
  padding: 0 0.375rem;
  font-size: 0.6875rem;
  font-weight: 700;
  white-space: nowrap;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details .product__badges .badge.color span {
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  border: 1px solid var(--clr-gray-400);
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details table {
  margin: 1rem 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.875rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details table tr:nth-child(2n) {
  background-color: var(--clr-gray-100);
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details table td {
  padding: 0.125rem 0;
  color: var(--clr-gray-700);
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details table td:first-child {
  padding: 0 0.25rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details table td:last-child {
  padding: 0 0.25rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__details .product__actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__price {
  flex-grow: 1;
  flex-basis: 33.333%;
  max-width: 33.333%;
  padding-left: 1rem;
  min-width: 0;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__price span {
  font-size: 1.125rem;
  color: var(--clr-gray-900);
  font-weight: 700;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__price span.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 0.25rem;
  height: 1.25rem;
  background-color: var(--clr-red-100);
  color: var(--clr-red-900);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 9999px;
  padding: 0 0.375rem;
  font-size: 0.6875rem;
  font-weight: 700;
  white-space: nowrap;
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__price span.discounted {
  color: var(--clr-red-500);
}
.cart .cart__content .package__list .package__wrapper .package .package__content .package__product .product__wrapper .product__content .product__price span.muted {
  color: var(--clr-gray-600);
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: line-through;
}
.cart .cart__content .package__list .package__wrapper .package__summary {
  flex: 1 1 33%;
  align-self: flex-start;
  padding: 1rem;
  background-color: var(--clr-gray-100);
  border-radius: 1rem;
  min-width: 0;
}
.cart .cart__content .package__list .package__wrapper .package__summary h1 {
  font-size: 1.125rem;
  border-bottom: 1px solid var(--clr-gray-600);
  margin-bottom: 1rem;
}
.cart .cart__content .package__list .package__wrapper .package__summary .divider {
  border: none;
  height: 1px;
  background-color: var(--clr-gray-600);
  margin: 0.5rem 0 1rem;
}
.cart .cart__content .package__list .package__wrapper .package__summary .divider.soft {
  background-color: var(--clr-gray-400);
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row span {
  font-size: 0.875rem;
  color: var(--clr-gray-900);
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row span:last-child {
  font-weight: 600;
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row.discount span {
  color: var(--clr-red-500);
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row.total {
  margin-bottom: 0;
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row.total span {
  font-size: 1rem;
  font-weight: 700;
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row.small {
  margin-bottom: 0;
}
.cart .cart__content .package__list .package__wrapper .package__summary .rows .row.small span {
  font-size: 0.75rem;
  color: var(--clr-gray-600);
}

@media only screen and (max-width: 768px) {
  .cart .cart__content .package__list .package__wrapper {
    gap: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .cart .cart__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }
  .cart .cart__header .search-box {
    max-width: 100%;
  }
  .cart .cart__content .package__list .package__wrapper {
    flex-direction: column;
    gap: 1.5rem;
  }
  .cart .cart__content .package__list .package__wrapper .package {
    flex: 1 1 100%;
  }
  .cart .cart__content .package__list .package__wrapper .package .package__header {
    padding: 1rem;
    padding-bottom: 0.5rem;
  }
  .cart .cart__content .package__list .package__wrapper .package .package__content {
    padding: 0 1rem;
    padding-bottom: 1rem;
  }
  .cart .cart__content .package__list .package__wrapper .package__summary {
    flex: 1 1 100%;
    align-self: stretch;
  }
}/*# sourceMappingURL=cart.css.map */